.App {
  font-family: sans-serif;
  text-align: center;
}

.picture {
  width: 800px;
  height: 686px;
  margin-left: 25rem;
  border: 5px solid red;
}

.imgGrid {
  display: grid;
}

.container {
  align-content: center;
}

.assetCode {
  text-align: center;
  font-size: 35px;
  font-family: monospace;
  margin-left: 0rem;
}

/* //bg-blue-500 hover:bg-blue-700 text-white font-mono py-1 px-3 rounded button */
.button {
  font-family: monospace;
}
