.App {
  font-family: sans-serif;
  text-align: center;
}

.picture {
  width: 800px;
  height: 586px;
  margin-left: 25rem;
  border: 5px solid red;
}

.imgGrid {
  display: grid;
}

.container {
  align-content: center;
}

.assetCode {
  text-align: center;
  font-size: 35px;
  font-family: monospace;
  margin-left: 0rem;
}

.button {
  font-family: monospace;
  margin-left: 70rem;
  display: flex;
  margin-top: 2rem;
}

.assetInfo {
  text-transform: capitalize;
  margin-left: 24.5rem;
  margin-right: 20rem;
  padding-left: 8px;
  column-count: 2;
  column-gap: 0.5rem;
  font-weight: bold;
  font-family: monospace;
  text-align: left;
  font-size: 18px;
}

li {
  list-style: none;
}
